

#start-navigation {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: azure;
    height: 62px;
    width: 100%;
}

.st_navigation {
    height: 62px;
    width: 100%;
    background-color: azure;
}

.st_navigation .nav-container {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 20px;
}

.st_navigation .authorization-button {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 310px;
    justify-content: flex-end;
    display: flex;
}

.st_navigation .authorization-button a {
    margin: 0 7px;
}

.st_navigation .login-buuton {
    margin-right: 10px;
    text-align: center;
    background-color: gainsboro;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.st_navigation .sign-up-button {
    margin-right: 10px;
    text-align: center;
    background-color: #f2bb13;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.st_navigation .basket-img {
    width: 80px;
    height: 60px;
}

.st_navigation .log-out-button {
    margin-right: 10px;
    text-align: center;
    background-color: #f2bb13;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.st_navigation .admin-button {
    border-radius: 50%;
    background-color: #f2bb13;


}